<h1>Pokedex Entry #<%= @pokemon_info.id%></h1>

<div class="pokemon-container">
    <%= image_tag "#{@pokemon_info.id}.png", class: "pokemon-image" %>
    <div class="grid-container">
        <div class="pokemon-description">
            <h2 class="pokemon-name"><%= @pokemon_info.name %></h2>
            <p>| 
                <% @pokemon_type.each do |type| %>
                    <%= link_to type.type_name.name, type %> |
                <% end %>
            </p>
            <p><%= link_to @pokemon_gen.name, @pokemon_gen %></p>
            <p><%= link_to "#{@pokemon_rank.name} pokemon", @pokemon_rank %></p>
            <p><%= @pokemon_info.description %></p>
        </div>
    </div>
    <div class="pokemon-description">
        <h2 class="pokemon-name">stats</h2>
        <p>Hit points: <%= @pokemon_stat.hp %></p>
        <p>Attack: <%= @pokemon_stat.attack %></p>
        <p>Defense: <%= @pokemon_stat.defense %></p>
        <p>Special attack: <%= @pokemon_stat.spatk %></p>
        <p>Special defense: <%= @pokemon_stat.spdef %></p>
        <p>Speed: <%= @pokemon_stat.speed %></p>
        <p>Total points: <%= @pokemon_stat.total %></p>
    </div>
</div>