<!DOCTYPE html>
<html>
  <head>
    <title>RailsPokedex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="header"> Rails Pokedex </h1>
    <div class="navbar-container">
      <div class="navbar">
        <ul>
        <li><a href="/pokemon_infos">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="pokemon_gens">Generations</a></li>
        <li><a href="type_names">Types</a></li>
        <li><a href="pokemon_ranks">Ranks</a></li>
        <li class="search">
          <input type="text" placeholder="Search pokemon">
          <button type="submit">Search</button>
        </li>
      </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
